.showcode {
  width: calc(100% - 50%);
}

.code-list-btn.active {
  background-color: rgb(54, 51, 51);
  color: white;
}

.view.hide {
  position: relative;
  display: flex;
}

.view {
  display: none;
  position: absolute;
}

.firstDemo,
.secondDemo,
.thirdDemo {
  position: absolute;
  top: 0;
  left: 0;
  background-color:rgb(99 102 241) ;
  padding: 5px;
  border-radius: 8px;
  width: 10%;
  height: 30px;
  text-align: center;
  color: #fff;
  font-size: small;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(99 102 241) !important;
}

.slider::-webkit-slider-thumb:hover {
  background-color: #bbb;
}

.slider::-webkit-slider-thumb:active {
  background-color: #ddd;
}

input[type="color"] {
  width: 100px;
  height: 70px;
  padding: 1rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
}