.print-section{
    margin-top: 30px;
}

.print-section button{
    height: 40px;
    width: 200px;
    background: rgb(81, 81, 241);
    border: none;
    color: white;
    margin-left: 30px;
    cursor: pointer;
}
.thelist{
    width: 100%;
    display: flex;
    margin-top: 30px;
    display: none;
}
.thelist.active{
    display: flex;
}
.code-show{
    height: 300px;
    background: red;
    width: calc(100% - 300px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.title{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.code-list{
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  
}
.click{
    background: #f7f7fc;
    height: 40px;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0px 20px;
    cursor: pointer;
}
.click:hover{
    background: rgb(81, 81, 241);
    color: white;
   
}
.view{
    height: 80%;
    width: 80%;
    background: black;
    position: absolute;
    display: none;
}
.view.active{
    display: flex;

}
.copy{
    padding: 5px 10px;
    width: 40px;
    background: #f7f7fc;
    position: absolute;
    right: 0px;
    cursor: pointer;
}
.html{
    display: flex;
}