.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    padding: 20px 10px;
}

.navbar .logo-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}

.logo-container .image-logo {
    width: 50px;
    height: 50px;
    cursor: pointer;
    object-fit: contain;
    -o-object-fit: contain;
    object-position: center;
    -o-object-position: center;
}

.logo-container .text-logo {
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

.navbar .unordered-list {
    list-style: none;
    display: flex;
}

.list-items .list-links {
    text-decoration: none;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.list-links:hover {
    color: rgb(99 102 241);
}
.list-items .list-links.active {
    color: rgb(99, 102, 241);
    font-weight: bold;
  }
.nav-btn button {
    background-color: rgb(99 102 241);
    outline: none;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    transition: all .3s ease-in-out;
}
.nav-btn button:hover {
    background-color: rgb(55 48 163);
}

.hidehtml {
    display: none;
}